@charset'EUC-JP';
/* Mireille Style Sheet */
/* Default Style Sheet for Mireille */
/* "This file is written in euc-jp, CRLF." 空 */
/* $Id$ */

/* note.
:overflow-yを指定している
  WinIE6の標準モードで横スクロールバーが表示されてしまう問題への対策です。
:input,textareaなどを@mediaでくくっている
  Netscape4対策のためです。
:-moz-opacityの指定が1.0でなく0.9となっている
  1.0だとバージョンと場合によってはMozillaが落ちることがあったからです。
:他に注意すること
  一部CSS3で実装される予定のプロパティをフライングで指定しています。
*/



/* ==================== 要素の標準スタイル ==================== */

/* ========== リンクのスタイル ========== */
/* 通常のリンク */
A:link
{color:#44f;text-decoration:none;}
A:visited
{color:#44f;text-decoration:none;}
A:link:hover,A:visited:hover
{color:#fa8;text-decoration:underline;}
A:link:active,A:visited:active
{color:#f00;text-decoration:underline;}


/* ========== その他の要素 ========== */
HTML{
	overflow-y: scroll; /*IE独自*/
}
ABBR,ACRONYM{
	border-bottom: #66c dotted 1px;
	cursor: help;
}
BODY{
/*	background-attachment: scroll;*/
	background-color: #fff;
/*	background-image: url('/HP_img/bakimg.png');
	background-position: left;
	background-repeat: repeat; */
	border-style: none;
	border-width: 0;
	color: #355;
	font-family: 'ＭＳ Ｐゴシック',sans-serif;
	font-size: 13px;
	margin: 0.2em 0;
	padding: 0;
	text-align: center;
}
BUTTON{
	background-color: #ffb;
	border: #355 solid 2px;
	color: #355;
}
BUTTON:hover{
	background-color: #eea;
	border: #355 solid 2px;
	color: #355;
}
BUTTON,INPUT,SELECT,TEXTAREA{
	font-family: 'ＭＳ Ｐゴシック',sans-serif;
	font-size: 13px;
}
DFN{
	border-bottom: 1px dashed #080;
	cursor: help;
	font-style: normal;
/*
	font-family: serif;
	font-style: italic;
*/
}
EM{
	border-bottom: #444 solid 1px;
	font-style: normal;
/*
	font-family: serif;
	font-style: italic;
*/
}
FORM{
	margin: 0;
}
IMG{
	border-style: none;
	margin: 0;
}
OPTGROUP{
	color: #6ac;
	font-style: normal;
	font-weight: bold;
}
PRE{
	background-color: #eee;
	font-family: monospace;
	font-size: 85%;
	font-weight: normal;
	margin: 0.2em 1em;
	text-align: left;
	white-space: pre;
	word-break: break-all;
	word-wrap: break-word;
}
Q{
	border-bottom: 1px solid #f55;
}
SELECT{
/*	background-color: transparent;*/
	color: #355;
}
SMALL{
	font-size: 75%;
}
TABLE{
/*	background-color: transparent;*/
	color: #355;
	font-family: 'ＭＳ Ｐゴシック',sans-serif;
	font-size: 100%;
	margin: 1em auto;
	text-align: center;
}

TH,TD{
	text-align: left;
}
VAR{
	font-family: Tahoma,Verdana,sans-serif;
	font-style: italic;
}
OL,UL{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: left;
}
LI{
	line-height: 1.2;
	margin-bottom: 3px;
	text-align: left;
}
DT{
	background-color: #eef;
	color: #55f;
	font-size: 100%;
	font-weight: normal;
	margin: 0.5em auto;
	padding: 0.1em;
	text-align: left;
	vertical-align: middle;
}



/* ==================== 全体に共通のクラス ==================== */

/* 新しいものへのリンク */
A.new:link
{color:#f00;font-weight:bold;text-decoration:none;}
A.new:visited
{color:#f00;font-weight:bold;text-decoration:none;}
A.new:link:hover,A.new:visited:hover
{color:#f55;font-weight:bold;text-decoration:underline;}
A.new:link:active,A.new:visited:active
{color:#f00;font-weight:bold;text-decoration:underline;}

/* 記事番号のリンク */
A.number:link
{color:#06e;text-decoration:none;}
A.number:visited
{color:#06e;text-decoration:none;}
A.number:link:hover,A.number:visited:hover
{color:#fa8;text-decoration:underline;}
A.number:link:active,A.number:visited:active
{color:#f55;text-decoration:underline;}

/* 本文自動リンク機能のリンク */
A.autolink:link
{border-bottom: #aaf dashed 1px;color:#44f;text-decoration:none;}
A.autolink:visited
{border-bottom: #b9f dashed 1px;color:#97d;text-decoration:none;}
A.autolink:link:hover,A.autolink:visited:hover
{border-bottom: #fa8 dashed 1px;color:#fa8;text-decoration:none;}
A.autolink:link:active,A.autolink:visited:active
{border-bottom: #f00 dashed 1px;color:#f00;text-decoration:none;}

/* アクセスキー */
.ak{
	text-decoration: underline;
}
/* 新しい記事の日時 */
.new{
	color: #f00;
}
/* 何らかの注意や警告 */
.warning,.caution{
	color: #f00;
}
/* N4調整用一揃えクラス */
DIV.center{
	margin: auto;
	text-align: center;
}
DIV.right{
	margin-left: 5%;
	text-align: right;
}


/* ========== 著作権表示 ========== */
.AiremixCopy{
	font-family: Tahoma,sans-serif;
	font-size: 130%;
	font-style: normal;
	font-weight: normal;
	text-align: right;
}
.Copyright{
	font-family: Tahoma,sans-serif;
	font-size: 115%;
	font-style: normal;
	font-weight: normal;
	text-align: center;
}


/* ========== 見出し ========== */
.heading2{
	background-color: #ace;
	color: #fff;
	font-family: 'Comic Sans MS','ＭＳ Ｐゴシック',sans-serif;
	font-size: 130%;
	font-weight: bold;
	margin: 1em auto;
	padding: 0.2em;
	text-align: center;
	width: 80%;
}
.heading3{
	background-color: #cdf;
	color: #05a;
	font-size: 130%;
	font-weight: bold;
	margin: 0.4em auto 0 auto;
	padding: 0.1em;
	text-align: center;
	vertical-align: middle;
	width: 60%;
}
.heading4{
	background-color: #eef;
	color: #59f;
	font-size: 115%;
	font-weight: normal;
	margin: 0.4em auto 0 auto;
	padding: 0.1em;
	text-align: center;
	vertical-align: middle;
}


/* ========== 汎用章分け ========== */
/* First Level */
.section{
	border: #6ac solid 5px;
	color: #246;
	margin: 2em auto;
	padding: 0.2em;
	text-align: left;
	width: 90%;
}
.section .h{
	background-color: #6ac;
	color: #fff;
	font-size: 145%;
	font-weight: bold;
	margin: 0;
	padding: 0.2em;
	text-align: left;
}
/* Second Level */
.section .section{
	border: 1px solid #cdf;
	margin: 1em 2em;
}
.section .section .h{
	background-color: #cdf;
	color: #05a;
	font-size: 130%;
	font-weight: normal;
}
/* ThirdLevel */
.section .section .section{
	border: 1px solid #aaf;
}
.section .section .section .h{
	background-color: #ccf;
	color: #55f;
	font-size: 100%;
}
/* Forth Level */
.section .section .section .section{
	border: 1px solid #55f;
}
.section .section .section .section .h{
	background-color: #eef;
	color: #59f;
}
/* Paragraph in Sections */
.section P{
	line-height: 1.2;
	margin: 1em 2em;
}
/* PRE in Sections */
.section PRE{
	background-color: #eee;
	font-family: monospace;
	font-size: 85%;
	font-weight: normal;
	margin: 1em 4em;
	padding: 0.5em;
	text-align: left;
	white-space: pre;
	word-break: break-all;
	word-wrap: break-word;
}
/* List in Sections */
.section OL,.section UL{
	line-height: 1.2;
	margin: 0.5em 4em;
}
.section DL{
	line-height: 1.2;
	margin: 0.5em 2em;
}
.section DT{
	background-color: #eef;
	color: #444;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0.2em 0.3em;
	text-align: left;
}
.section DD{
	font-size: 100%;
	margin: 0.5em 2em;
	text-align: left;
}
/* Table in Sections*/
.section table{
	border-collapse: collapse;
	border-color: #99a;
	border-spacing: 0; 
	border-style: solid;
	border-width: 1px;
	font-family: 'ＭＳ Ｐゴシック',sans-serif;
	font-size: 100%;
	margin-left: 4em;
	text-align: left;
}
.section td, .section th{
	border-color: #aaf;
	border-style: solid;
	border-width: 1px;
	padding: 0.1em;
}


/* ========== 汎用BOX ========== */
/* BOX */
.box{
	border: #6ac solid 5px;
	color: #246;
	margin: 2em auto;
	padding: 0.2em;
	text-align: left;
}
/* Heading */
.box .h{
	background-color: #6ac;
	color: #fff;
	font-size: 130%;
	font-weight: bold;
	margin: 0;
	padding: 0.2em;
	text-align: left;
}
/* Footer */
.box .footer{
	background-color: #cdf;
	margin: 0;
	padding: 0.2em;
	text-align: right;
}
/* Inner Table */
.iconCatalog .box TABLE{
	margin: 0.5em auto;
}


/* ========== フォームのスタイル ========== */
/* Netscape4対策のため囲い込み */
@media all{
	/* Mozillaでは属性セレクタと擬似クラスで、IEではJScriptで状態を切り替える */
	
	/* 標準的ボタン */
	.button{
		background-color: #dfd;
		border: #6ca solid 2px;
	}
	INPUT[type="button"]{
		background-color: #dfd;
		border: #6ac solid 2px;
	}
	/* 標準的ボタン:hover */
	.button:hover,.buttonover,.buttonOver{
		background-color: #afa;
		border: #6ac solid 2px;
	}
	INPUT[type="button"]:hover,INPUT[type="button"]:focus{
		background-color: #afa;
	}
	/* ボタン共通 */
	.submit,.submitover,.submitOver,.reset,.resetover,.resetOver{
		border: #355 solid 2px;
		color: #355;
		width: 7em;
	}
	INPUT[type="submit"],INPUT[type="reset"]{
		border: #355 solid 2px;
		color: #355;
		width: 7em;
	}
	/* 了解ボタン */
	.submit{
		background-color: #ddf;
	}
	INPUT[type="submit"]{
		background-color: #ddf;
	}
	/* 了解ボタン:hover */
	.submit:hover,.submitover,.submitOver{
		background-color: #aaf;
	}
	INPUT[type="submit"]:hover,INPUT[type="submit"]:focus{
		background-color: #bbe;
	}
	/* 取消ボタン */
	.reset{
		background-color: #fdd;
	}
	INPUT[type="reset"]{
		background-color: #fdd;
	}
	/* 取消ボタン:hover */
	.reset:hover,.resetover,.resetOver{
		background-color: #faa;
	}
	INPUT[type="reset"]:hover,INPUT[type="reset"]:focus{
		background-color: #faa;
	}
	/* 入力フォーム共通 */
	.blur,TEXTAREA,.focus{
		color: #355;
		padding: 0.1em;
		margin: 0;
	}
	INPUT[type="text"],INPUT[type="password"]{
	}
	/* 入力フォーム */
	.blur,TEXTAREA{
		background-color: #fff;
		border: #ccc solid 1px;
	}
	INPUT[type="text"],INPUT[type="password"]{
		background-color: #fff;
		border: #ccc solid 1px;
	}
	/* 入力フォーム:focus */
	.focus{
		background-color: #dfd;
		border: #afa dashed 1px;
	}
	TEXTAREA:focus,INPUT[type="text"]:focus,INPUT[type="password"]:focus{
		background-color: #dfd;
		border: #afa dashed 1px;
	}
	INPUT[disabled]{
		color: #777;
	}
}


/* ==================== 表紙表示部 ==================== */
/* ========== LastPost ========== */
P.lastpost{
	margin: 0;
	padding: 0;
	text-align: right;
	text-decoration: underline;
}
P.lastpost A{
	background-color: #cdf;
	color: #05a;
	font-size: 100%;
}
/* ========== ページヘッダーテーブル ========== */
TABLE.head{
	background: #6ac;
	color: #fff;
	margin: auto;
	width: 90%;
}
TABLE.head TH{
	font-size: 100%;
	padding: 3px 5px;
	text-align: left;
	white-space: nowrap;
}
H1.head,DIV.head A{
	color: #fff;
	font-family: 'Comic Sans MS','ＭＳ Ｐゴシック',sans-serif;
	font-size: 145%;
	font-weight: normal;
}
H1.head{margin: 0;}
DIV.head A:visited{color: #fff;}
TABLE.head TD{
	color: #fff;
	font-size: 115%;
	letter-spacing: 1em;
	padding: 3px 5px;
	text-align: right;
	white-space: nowrap;
}


/* ========== メニュー ========== */
TABLE.menu{
/*	background-color: transparent;*/
	border-style: none;
	margin: 1em auto;
	padding: 0.3em;
	text-align: center;
}
TD.menu{
/*	background-color: transparent;*/ /*メニューの背景色を変更するならこっち*/
	border: #6ac solid 2px;
	font-size: 100%;
	padding: 0.4em;
	text-align: center;
}
/* ========== ページ選択 ========== */
TABLE.pgsl{
	border: #6ac solid 2px;
	margin: 0.5em auto;
	text-align: center;
	vertical-align: middle;
}
TABLE.pgsl TD{
	border-style: none;
	padding: 0.1em;
	text-align: center;
	vertical-align: middle;
}
/* 今見ているページ番号の強調 */
STRONG.pgsl{
	font-size: 145%;
}

/* ========== 注意書き ========== */
TABLE.note{
/*	background-color: transparent;*/
	margin: 1em auto;
	text-align: center;
}
DIV.note{
/*	background-color: transparent;*/
	border: #6ac solid 5px;
	margin: 0 auto;
	padding: 0.1em;
}
UL.note{
/*	background-color: transparent;*/ /*注意書きの背景色を変更するならこっち*/
	border: #6ac solid 5px;
	margin: 0 auto;
	padding: 0.3em 0 0.3em 1.5em;
}
P.note{
	background-color: #eef;
	border: #6ac solid 2px;
	margin: 1em auto;
	padding: 0.5em;
	width: 60%;
}
.note LI{
	list-style-type: square;
}
/* ========== 記事情報部 ========== */
DIV.artinfo{
	margin: 0 auto;
	text-align: center;
}
P.artinfo{
	margin: 0 auto;
}



/* ==================== 記事表示部 ==================== */
/* 記事スレッド */
.thread{
	border: #6ac solid 5px;
	margin: 2em auto;
	padding: 0.2em;
	width: 90%;
}
/* 親記事のタイトルテーブル */
.thread TABLE.subject{
	background-color: #6ac;
	color: #fff;
	margin: 0;
}
/* 記事スレッド移動の矢印 */
.thread .arrow{
	font-size: 145%;
	text-align: right;
}
/* 親記事のタイトルセル */
.thread TH.subject{
}
/* 親記事のタイトル */
.thread H2.subject{
	color: #fff;
	font-size: 145%;
	font-weight: bold;
	margin: 0;
	padding: 0.2em;
	text-align: left;
}

/* 親記事テーブル */
.thread .parent{
	margin: 0.2em 0;
/*	table-layout: fixed;*/
}
/* 子記事テーブル */
.thread .child{
	margin: 0.2em 0;
/*	table-layout: fixed;*/
}
/* ＊記事テーブルCOL */
.thread COL.space,.thread TH.space	{width: 5%;}
.thread COL.number	{width: 120px;}
.thread COL.name	{}
.thread COL.date	{}
/* 子記事のタイトルセル */
.thread .child .subject{
	background-color: #6ac;
	color: #fff;
}
/* 子記事のタイトル */
.thread .child H3.subject{
	background-color: #ace;
	color: #fff;
	font-size: 115%;
	font-weight: bold;
	margin: 0;
	padding: 0.2em;
	text-align: left;
}

/* 投稿者情報欄 */
.thread .info TD{
	background-color: #ace;
	color: #355;
	font-size: 100%;
	font-weight: bold;
	padding: 0.2em 0.5em;
	text-align: left;
	vertical-align: bottom;
}
/* ＊記事の返信番号 */
.thread .info TH.number,TH.number{text-align: center; vertical-align: middle;white-space: nowrap;}
/* 親記事の記事番号 */
.thread .parent .info .number{font-size: 115%; font-weight: bold;}
/* 子記事の返信番号 */
.thread .child .info .number{font-size: 100%; font-weight: normal;}

/* 投稿者名 */
.thread .info TD.name{text-align: left;}
.thread .info SPAN.name{font-size: 130%;}
/* 署名 */
.thread SPAN.signature{font-size: 100%; font-weight: normal}
/* HOME */
@media all{.thread .info SPAN.home{margin-left:1em}}
/* 投稿日時 */
.thread .info TD.date{text-align: right; white-space: nowrap;}
.thread .info SPAN.date{}
/* 【修正】 */
@media all{.thread .info SPAN.revise{margin-left:1em}}
/* info行での余白 */
.thread .info SPAN.nbsp{letter-spacing: 2em;}

/* アイコン表示欄 */
.thread .icon{
	text-align: center;
	vertical-align: top;
}
/* 記事本文 */
.thread .body{
	color: #355;
	font-size: 100%;
	line-height: 1.2;
	padding: 0.2em;
	text-align: left;
	vertical-align: top;
	word-break: break-all;
	word-wrap: break-word;
}
/* 記事本文内のコード*/
.body CODE{
	font-family: monospace;
	font-weight: normal;
	text-align: left;
	white-space: pre;
	word-break: break-all;
	word-wrap: break-word;
}
/* 記事スレッドのフッタ欄 */
.thread TABLE.foot{
	background-color: #cdf;
	color: #05a;
	font-size: 115%;
	font-weight: bold;
	margin: 0;
	text-align: right;
}
.thread TABLE.foot TH P{
	margin: 0.2em;
}



/* ==================== 書き込みフォーム ==================== */
#writingForm{
	text-align: center;
	width: 600px;
}
/* 項目名セル */
#writingForm TH.item{
	font-weight: normal;
	text-align: left;
}
/* 投稿フォームのタイトル欄 */
#writingForm .h{
	text-align: center;
}
/* TABLE */
#writingForm TABLE{
	margin: 0.2em auto;
}
#writingForm .leftColumn{
	width: 120px;
}
#writingForm .inputBody .item{
	text-align: center;
	width: 260px;
}
#writingForm .rightColumn{
	text-align: right;
	width: 120px;
}
/* Quicksave/Autosave用のボタン */
@media all{
	#writingForm .rightColumn INPUT{
		border: #355 solid 1px;
		color: #355;
		width: 2.7em;
	}
	/* Quicksave書き込みボタン */
	#writingForm .buttonQuicksave{
		background-color: #fdd;
	}
	#writingForm .buttonQuicksave:hover,#writingForm .buttonQuicksaveOver{
		background-color: #faa;
	}
	/* Quicksave読み込みボタン */
	#writingForm .buttonLoadQuicksave{
		background-color: #ddf;
	}
	#writingForm .buttonLoadQuicksave:hover,#writingForm .buttonLoadQuicksaveOver{
		background-color: #aaf;
	}
	/* Autosave読み込みボタン */
	#writingForm .buttonLoadAutosave{
		background-color: #dfd;
	}
	#writingForm .buttonLoadAutosave:hover,#writingForm .buttonLoadAutosaveOver{
		background-color: #afa;
	}
}
/* アイコン選択のラベル */
#writingForm .iconInputLabel{
	font-weight: normal;
	text-align: center;
}
/* アイコンプレビュー用テーブルセル */
#writingForm TD.iconPreview{
	margin: 0;
	text-align: center;
}
/* 書き込みフォームのフッタ */
#writingForm .footer{
	text-align: center;
}
/* 個々の項目 */
#name	{width:220px;ime-mode:active;}
#cook	{}
#icon	{width:160px;}
#icon OPTION{color:#444;}
#email	{width:300px;ime-mode:inactive;}
#home	{width:300px;ime-mode:inactive;}
#subject{width:300px;ime-mode:active;}
#color	{width:100px;ime-mode:inactive;}
#pass	{width: 90px;ime-mode:active;}
#cmd	{width:300px;ime-mode:inactive;}
#body	{width:500px;ime-mode:active;}



/* ==================== 返信モードでの記事の枠 ==================== */
#threadBox{
	border: #333 dashed 1px;
	height: auto;
	overflow: visible;
	width: 99%;
}
#paragraphThreadBox{
	margin: 0 10% 0 auto;
	text-align: right;
}

/* ==================== 書き込み後のメッセージ ==================== */
.writingMessage{
	text-align: center;
}
.writingMessage .box{
	width: 60%;
}
.writingMessage P{
	width: auto;
}
.writingMessage .body{
	text-align: left;
}



/* ==================== アイコンカタログ ==================== */
.iconCatalog{
}
.iconCatalog .box{
	text-align: center;
	width: 660px;
}
/* テーブルセル */
.iconCatalog .box TABLE TD{
	text-align: center;
}
/* Footer */
.iconCatalog .box .footer{
	font-weight: bold;
}



/* ==================== 削除・修正モード ==================== */
TABLE.list{
	border: #6ac solid 4px;
	margin: 2em auto;
	border-collapse: collapse;
	text-align: center;
	width: 90%;
}
TABLE.list TH,TABLE.list TD{
	border: #aaf solid 1px;
}
TABLE.list TR.parent TH,TABLE.list TR.parent TD{
	border-top: #aaf solid 5px;
}
TABLE.list TR.child th,TABLE.list TR.child TD{
	border-top: #aaf solid 3px;
}



/* ==================== 記事ナビ ==================== */
/* 記事ナビウィンドウ */
DIV#naviwind{
	background-color: #fff;
	border: #05a solid 2px;
	font-size: 12px;
	margin: 0;
	opacity: 0.6; /*CSS3Color*/
	padding: 0;
	text-align: left;
	width: 300px;
	-moz-opacity: 0.6; /*Mozilla独自*/
}
DIV#naviwind:hover{
	opacity: 0.9; /*CSS3Color*/
	-moz-opacity: 0.9; /*Mozilla独自*/
}
/* 記事ナビヘッダ */
#navihead{
	background-color: #6ac;
	color: #fff;
	cursor: default;
	font-size: 100%;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 100%;
}
/* 記事ナビタイトル */
#navititl{
	margin: 0;
	overflow: hidden;
	padding: 0.1em;
} 
/* 記事ナビ縮小・閉じるボタン */
#navibutt{
	text-align: right;
	white-space: nowrap;
}
#navibutt A:link,#navibutt A:visited{color:#fff}
/* 記事ナビ本文 */
#navibody{
	height: 180px;
	margin: 0;
	overflow: auto;
	padding: 0;
}
/* 記事ナビスレッド */
.navithre{
}
/* 記事ナビスレッド題名 */
.navisubj{
	background-color: #cdf;
	height: 1.2em;
	overflow: hidden;
	padding: 1%;
	text-overflow: ellipsis; /*CSS3*/
	white-space: nowrap;
	width: 98%;
}
/* 記事ナビスレッド記事番号 */
.navinums{
	margin-left: 1em;
}



/* ==================== 語句強調 ==================== */
/* //の強調 */
STRONG.s2f2f{
	color: #080;
	font-weight: normal;
}
/* ＞の強調 */
STRONG.s8184{
	background-color: #ddf;
	font-weight: normal;
}
/* §の強調 */
STRONG.s8198{
	background-color: #ffb;
	font-weight: bold;
}
/* ◇の強調 */
STRONG.s819e{
	background-color: #ddf;
	font-weight: bold;
}
/* □の強調 */
STRONG.s81a0{
	background-color: #dfd;
	font-weight: normal;
}
/* ※の強調 */
STRONG.s81a6{
	color: #f00;
	font-weight: bold;
}
