@charset "EUC-JP";
/* Mireille Style Sheet */
/* Default Style Sheet for Mireille */
/* "This file is written in euc-jp, CRLF." 空 */
/* $Id$ */

/* note.
・marginをmargin:auto;margin-top:10px;margin-bottom:10px;と分けている
Opera対策のためです
・cursolをhand,pointerと分けている
MSIE6未満対策のためです
・input,textareなどを@mediaでくくっている
	Netscape4対策のためです

*/

/* ===================== 全体の標準スタイル ===================== */
/* 通常のリンク文字 */
A:link		{color:#44f;text-decoration:none;}
A:visited	{color:#44f;text-decoration:none;}
A:hover		{color:#fa8;text-decoration:underline;}
A:active	{color:#f00;text-decoration:underline;}

/* 新しいものへのリンク文字 */
A.new:link		{color:#f00;font-weight:bold;text-decoration:none;}
A.new:visited	{color:#f00;font-weight:bold;text-decoration:none;}
A.new:hover		{color:#f55;font-weight:bold;text-decoration:underline;}
A.new:active	{color:#f00;font-weight:bold;text-decoration:underline;}

/* 注意なリンク文字 */
A.warning:link		{color:#f00;font-weight:bold;text-decoration:none;}
A.warning:visited	{color:#f00;font-weight:bold;text-decoration:none;}
A.warning:hover		{color:#f55;font-weight:bold;text-decoration:underline;}
A.warning:active	{color:#f00;font-weight:bold;text-decoration:underline;}

/* 記事番号のリンク文字 */
A.number:link	{color:#06e;text-decoration:none;}
A.number:visited{color:#06e;text-decoration:none;}
A.number:hover	{color:#fa8;text-decoration:underline;}
A.number:active	{color:#f50;text-decoration:underline;}

/* 本文自動リンク機能のリンク文字 */
A.autolink:link		{border-bottom: dashed 1px #88f;color:#44f;text-decoration:none;}
A.autolink:visited	{border-bottom: dashed 1px #b9f;color:#97d;text-decoration:none;}
A.autolink:hover	{border-bottom: dashed 1px #fa8;color:#fa8;text-decoration:none;}
A.autolink:active	{border-bottom: dashed 1px #f00;color:#f00;text-decoration:none;}

HTML{
	border-style: none;
	border-width: 0;
	margin: 0;
	padding: 0;
	width: 100%;
}
ABBR,ACRONYM{
	border-bottom: dotted 1px #66c;
	cursor: help;
}
BODY{
	background-color: #fff;
	border-style: none;
	border-width: 0;
	color: #355;
	font-family: 'ＭＳ Ｐゴシック',sans-serif;
	font-size: 15px;
	margin: 3px 0;
	padding: 0;
	text-align: center;
	width: 98%;
}
BUTTON{
	background-color: #ffb;
	border: #355 solid 2px;
	color: #355;
	cursor: pointer; cursor: hand;
}
DFN{
	border-bottom-color: #3aa;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	cursor: help;
/*	font-family: Verdana,sans-serif;*/
	font-style: normal;
}
EM{
	border-bottom: solid 1px #3a3;
/*	font-family: Verdana,sans-serif;*/
	font-style: normal;
}
FORM{
	margin: 0;
}
IMG{
	border-style: none;
	margin: 0;
}
INPUT,TEXTAREA{
	font-family: 'ＭＳ Ｐゴシック',sans-serif;
}
OPTGROUP{
	font-size: 90%;
	font-style: normal;
	font-weight: bold;
}
PRE{
	background-color: #eee;
	font-family: monospace;
	font-size: 85%;
	font-weight: normal;
	margin: 0.2em 1em;
	text-align: left;
	white-space: pre;
	word-break: break-all;
	word-wrap: break-word;
}
Q{
	border-bottom-color: #f77;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
SELECT{
/*	background-color: transparent;*/
	color: #355;
	font-size: 90%;
}
TABLE{
	color: #355;
	font-family: 'ＭＳ Ｐゴシック',sans-serif;
	font-size: 100%;
	margin: 1em auto;
	text-align: center;
	margin-top:1em;margin-bottom:1em;
}

TH,TD{
	text-align: left;
}
OL,UL{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: left;
}
LI{
	line-height: 120%;
	margin-bottom: 3px;
	text-align: left;
}


/* ===================== 全体に共通のクラス ===================== */
/* アクセスキー */
.ak{
	text-decoration: underline;
}
/* 新しい記事の日時 */
.new{
	color: #f00;
}
/* 何らかの注意や警告 */
.warning, .coution{
	color: #f00;
}
/* N4調整用一揃えクラス */
DIV.center{
	margin: auto;
	text-align: center;
}
DIV.right{
	margin-left:5%;
	text-align: right;
}

/* Netscape4対策のため囲い込み */
@media all{
	/* Mozillaでは属性セレクタと擬似クラスで、IEではJScriptで状態を切り替える */
	
	/* 標準的ボタン */
	.button{
		background-color: #eef;
		border: #6ac solid 2px;
		cursor: pointer; cursor: hand;
	}
	INPUT[type="button"]{
		background-color: #eef;
		border: #6ac solid 2px;
		cursor: pointer;
	}
	/* 標準的ボタン（マウスが重なった時） */
	.button:hover,.buttonover{
		background-color: #cdf;
		border: #6ac solid 2px;
		cursor: pointer; cursor: hand;
	}
	INPUT[type="button"]:hover,INPUT[type="button"]:focus{
		background-color: #cdf;
	}
	/* 了解ボタン（投稿/修正/削除） */
	.submit{
		background-color: #dde;
		border: #355 solid 2px;
		color: #355;
		cursor: pointer; cursor: hand;
		width: 7em;
	}
	INPUT[type="submit"]{
		background-color: #dde;
		border: #355 solid 2px;
		color: #355;
		cursor: pointer;
		width: 7em;
	}
	/* 了解ボタン（マウスが重なった時） */
	.submit:hover,.submitover,{
		background-color: #bbe;
		border: #355 solid 2px;
		color: #355;
		cursor: pointer; cursor: hand;
		width: 7em;
	}
	INPUT[type="submit"]:hover,INPUT[type="submit"]:focus{
		background-color: #bbe;
	}
	/* 取消ボタン */
	.reset{
		background-color: #edd;
		border: #355 solid 2px;
		color: #355;
		cursor: pointer; cursor: hand;
		width: 7em;
	}
	INPUT[type="reset"]{
		background-color: #edd;
		border: #355 solid 2px;
		color: #355;
		cursor: pointer;
		width: 7em;
	}
	/* 取消ボタン（マウスが重なった時） */
	.reset:hover,.resetover{
		background-color: #ebb;
		border: #355 solid 2px;
		color: #355;
		cursor: pointer; cursor: hand;
		width: 7em;
	}
	INPUT[type="reset"]:hover,INPUT[type="reset"]:focus{
		background-color: #ebb;
	}
	/* フォームにフォーカスが無い時 */
	.blur,TEXTAREA{
		background-color: transparent;
		border: #6ac dashed 1px;
		color: #355;
		font-size: 100%;
	}
	INPUT[type="text"],INPUT[type="password"]{
		background-color: transparent;
		border: #6ac dashed 1px;
		color: #355;
		font-size: 100%;
	}
	/* フォームにフォーカスがある時 */
	.focus{
		background-color: #dfd;
		border: #6ac dashed 1px;
		color: #355;
		font-size: 100%;
	}
	TEXTAREA:focus,INPUT[type="text"]:focus,INPUT[type="password"]:focus{
		background-color: #dfd;
	}
	INPUT[disabled]{
		color:#777;
	}
}


/* ===================== メニュー部 ===================== */
/* ========== LastPost ========== */
P.lastpost{
	margin: 0 0.2em 0 0;
	text-align: right;
	text-decoration: underline;
}
P.lastpost A{
	background-color: #cdf;
	color: #05a;
	font-size: 13px;
}
/* ========== ページヘッダーテーブル ========== */
TABLE.head{
	background: #6ac;
	color: #fff;
	margin: auto;
}
TABLE.head td{
	color: #fff;
	letter-spacing: 1em;
	padding: 3px 5px;
}
TABLE.head TH{padding: 3px 5px;}
H1.head,H1.head A:link{
	color: #fff;
	font-family: 'Comic Sans MS','ＭＳ Ｐゴシック',sans-serif;
	font-size: 19px;
	font-weight: normal;
}
H1.head{margin: 0;}
H1.head A:visited{color: #fff;}
/* ========== 見出し（Mode表示で主に使用） ========== */
H2.mode{
	background-color: #ace;
	color: #fff;
	font-family: 'Comic Sans MS','ＭＳ Ｐゴシック',sans-serif;
	font-size: 17px;
	font-weight: bold;
	margin: 10px auto;
	padding: 3px;
	text-align: center;
	width: 80%;
	margin-top:10px;margin-bottom:10px;
}
/* ========== メニュー ========== */
TABLE.menu{
	border-style: none;
	margin: auto;
	margin-top:10px;margin-bottom:10px;
	text-align: center;
}
TD.menu{
	border: #6ac solid 2px;
	font-size: 14px;
	padding: 5px;
	text-align: center;
}
/* ========== ページ選択 ========== */
TABLE.pgsl{
	border: #6ac solid 2px;
	margin: auto;
	padding: 1px;
	text-align: center;
	vertical-align: middle;
	margin-top:4px;margin-bottom:4px;
}
TABLE.pgsl TD{
	border-style: none;
	padding: 1px;
	text-align: center;
	vertical-align: middle;
}
/* 今見ているページ番号の強調 */
STRONG.pgsl{
	font-size: 130%;
}

/* ========== 注意書き ========== */
TABLE.note{
	margin: auto;
	text-align: center;
	margin-top:10px;margin-bottom:10px;
}
DIV.note{
	border: #6ac solid 5px;
	margin: 0 auto;
	padding: 0;
	margin-top:0;margin-bottom:0;
}
UL.note{
	border: #6ac solid 5px;
	margin: 0 auto;
	padding: 5px 0 5px 20px;
	margin-top:0;margin-bottom:0;
}
.note LI{
	list-style-type: square;
}
/* ========== 記事情報部 ========== */
DIV.artinfo{
	margin: 0 auto;
	text-align: center;
}
P.artinfo{
	margin: 0 auto;
}

/* ========== 著作権表示 ========== */
.AiremixCopy{
	font-family: Verdana,sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	margin-right: 3%;
	text-align: right;
}



/* ===================== 記事表示部 ===================== */
/* 記事スレッド */
.thread{
	border: #6ac solid 5px;
	margin: 20px auto;
	padding: 3px;
	text-align: right;
	width: 90%;
	margin-top:20px;margin-bottom:20px;
}
/* 親記事のタイトルテーブル */
.thread TABLE.subject{
	background-color: #6ac;
	color: #fff;
	margin: 0;
	width: 100%;
}
/* 記事スレッド移動の矢印 */
.thread .arrow{
	font-size: 20px;
	text-align: right;
}
/* 親記事のタイトルセル */
.thread TH.subject{
}
/* 親記事のタイトル */
.thread H2.subject{
	color: #fff;
	font-size: 21px;
	font-weight: bold;
	margin: 1px 3px;
	text-align: left;
}

/* 親記事テーブル */
.thread .parent{
	margin: 4px 0;
/*	table-layout: fixed;*/
	width: 100%;
}
/* 子記事テーブル */
.thread .child{
	margin: 4px 0;
/*	table-layout: fixed;*/
	width: 100%;
}
/* ＊記事テーブルCOL */
.thread COL.space	{width: 5%;}
.thread COL.number	{width: 120px;}
.thread COL.name	{}
.thread COL.date	{}
/* 子記事のタイトルセル */
.thread .child .subject{
	background-color: #6ac;
	color: #fff;
}
/* 子記事のタイトル */
.thread .child H3.subject{
	background-color: #ace;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	text-align: left;
	margin: 0px 3px;
}

/* 投稿者情報欄 */
.thread .info TD{
	background-color: #ace;
	color: #355;
	font-size: 13px;
	font-weight: bold;
	padding: 0.1em 0.5em;
	text-align: left;
	vertical-align: bottom;
}
/* ＊記事の返信番号 */
.thread .info TH.number,TH.number{text-align: center; vertical-align: middle;white-space: nowrap;}
/* 親記事の記事番号 */
.thread .parent .info .number{font-size: 15px; font-weight: bold;}
/* 子記事の返信番号 */
.thread .child  .info .number{font-size: 13px; font-weight: normal;}

/* 投稿者名 */
.thread .info TD.name{text-align: left;}
.thread .info SPAN.name{font-size: 17px;}
/* HOME */
.thread .info SPAN.home{}
/* 投稿日時 */
.thread .info TD.date{
	text-align: right;
}
.thread .info SPAN.date{}
/* 【修正】 */
.thread .info SPAN.revise{}
/* info行での余白 */
.thread .info SPAN.nbsp{letter-spacing: 30px;}

/* アイコン表示欄 */
.thread .icon{
	text-align: center;
	vertical-align: top;
}
/* 記事本文 */
.thread .body{
	color: #355;
	font-size: 15px;
	line-height: 115%;
	overflow: auto;
	padding-top: 4px;
	padding-left: 5px;
	text-align: left;
	vertical-align: top;
	word-break: break-all;
	word-wrap: break-word;
	width: 100%;
}
/* 記事本文内のコード*/
.body CODE{
	font-family: monospace;
	font-weight: normal;
	text-align: left;
	white-space: pre;
	word-break: break-all;
	word-wrap: break-word;
}
/* 記事スレッドのフッタ欄 */
.thread TABLE.foot{
	background-color: #cdf;
	color: #05a;
	font-size: 16px;
	font-weight: bold;
	padding: 1px 5px;
	margin: 0;
	text-align: right;
	width: 100%;
}
.thread TABLE.foot TH P{
	margin: 3px;
}


/* ===================== 投稿画面 ===================== */
/* 投稿フォームのテーブル */
TABLE.write{
	border: #6ac solid 2px;
	font-size: 14px;
	margin: 30px auto;
	margin-top:30px;margin-bottom:30px;
	text-align: center;
}
/* 投稿フォームのタイトル欄 */
.write TH.caption{
	background-color: #6ac;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.write TH,.write TD{border:none;}
/* 項目名 */
.write TH.item{
	font-weight: normal;
	text-align: left;
}
/* 入力欄セル位置 */
.write TD.input{
	text-align: left;
}
/* 投稿フォームのフッタ欄 */
.write TD.foot{
	background-color: #6ac;
	text-align: center;
}
#name	 {width:220px;ime-mode:active;}
#cook	 {}
#icon	 {width:160px;}
#icon OPTGROUP{
	color: #6ac;
	font-style: normal;
}
#icon OPTION{color:#333;}
#email	{width:300px;ime-mode:inactive;}
#home	 {width:300px;ime-mode:inactive;}
#subject{width:300px;ime-mode:active;}
#color	{width:100px;}
#pass	 {width:90px;ime-mode:disabled;font-size:85%;}
#pass[type="password"]{font-size:100%;}/* IEで100%だと大きくなってしまうので85%にし、あとで100%に */
#cmd		{width:300px;ime-mode:inactive;}
#body	 {	font-size: 14px;
width:500px;ime-mode:active;}

/* ===================== 削除・修正モード ===================== */
TABLE.list{
	border: #6ac solid 4px;
	margin: 2em auto;
	border-collapse: collapse;
	text-align: center;
	width: 90%;
	margin-top:2em;margin-bottom:2em;
}
TABLE.list TH,TABLE.list TD{
	border: #aaf solid 1px;
}
TABLE.list TR.parent TH,TABLE.list TR.parent TD{
	border-top: #aaf solid 5px;
}
TABLE.list TR.child th,TABLE.list TR.child TD{
	border-top: #aaf solid 3px;
}


/* ===================== アイコンリスト ===================== */
/* アイコングループのテーブル */
TABLE.icon{
	border: #6ac solid 2px;
	font-size: 14px;
	padding: 3px;
	text-align: center;
}
/* アイコングループの名前 */
TABLE.icon CAPTION{
	background-color: #6ac;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	margin: 0 auto;
	padding: 0.2em;
	text-align: left;
	white-space: nowrap;
	margin-top:0;margin-bottom:0;
}
TABLE.icon TD{
	text-align: center;
}
/* アイコングループのフッタ */
TABLE.icon TH.foot{
	background-color: #cdf;
	color: #05a;
	font-size: 15px;
	font-weight: bold;
	padding: 0.2em;
	text-align: right;
	white-space: nowrap;
}

/* ===================== ヘルプファイル ===================== */
/* ヘルプファイル等のスレッド */
DIV.hthread{
	border: #6ac solid 5px;
	margin: 2em 5%;
	padding: 3px;
	text-align: left;
	width: 90%;
}
@media all{DIV.hthread{margin: 2em auto;}}
/* リスト項目の大見出し */
H2.list{
	background-color: #6ac;
	color: #fff;
	font-size: 21px;
	font-weight: bold;
	margin: 0 0 0.3em 0;
	padding: 0px 3px;
	text-align: left;
	width: 100%;
}
/* リスト項目の小見出し */
H3.list{
	background-color: #cdf;
	color: #05a;
	font-size: 15px;
	font-weight: normal;
	margin: 0.3em auto 0em auto;
	padding: 1px;
	position: relative;
	bottom: 2px;
	text-align: left;
	vertical-align: middle;
	width: 100%;
	margin-top:0.3em;margin-bottom:0em;
}

/* ===================== 記事ナビ ===================== */
/* 記事ナビウィンドウ */
DIV#naviwind{
	background-color: #fff;
	border: #379 solid 2px;
	font-size:12px;
	margin: 0;
	padding: 0;
	text-align: left;
	width:300px;
	-moz-opacity: 0.6;
}
DIV#naviwind:hover{
	/* Mozilla1.0の:hover-MozOpacity-overflowコンボ回避のため、1.0でなく0.9 */
	-moz-opacity: 0.9;
	/* IEもA以外でhoverを使えればいいのだけど */
}
/* 記事ナビヘッダ */
#navihead{
	background-color: #6ac;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 100%;
}
/* 記事ナビタイトル */
#navititl{
	font-size: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
} 
/* 記事ナビ縮小・閉じるボタン */
#navibutt{
	font-size: 100%;
	text-align: right;
	white-space: nowrap;
}
/* 記事ナビ本文 */
#navibody{
	height: 180px;
	margin: 0;
	overflow: auto;
	padding: 0px 1px;
}
/* 記事ナビスレッド */
.navithre{
}
/* 記事ナビスレッド題名 */
.navisubj{
	background-color: #cdf;
	height: 16px;
	padding: 2px;
}
/* 記事ナビスレッド記事番号 */
.navinums{
	margin-left: 1em;
}

/* ===================== 語句強調 ===================== */
/* //の強調 */
STRONG.s2f2f{
	color: #080;
	font-weight:normal;
}
/* ＞の強調 */
STRONG.s8184{
	background-color: #ddf;
	font-weight:normal;
}
/* ◇の強調 */
STRONG.s819e{
	background-color: #ddf;
	font-weight:bold;
}
/* □の強調 */
STRONG.s81a0{
	font-weight:bold;
}
/* ※の強調 */
STRONG.s81a6{
	color: #f00;
	font-weight:bold;
}

